**/__pycache__
src/phopymnehelper/resources/ElectrodeLayouts/pho_2025-06-23_FullHead_0007.stl
src/phopymnehelper/resources/ElectrodeLayouts/head_bem_1922V_fill.stl
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/PhoPyMNEHelper.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
